# API Settings
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=true

# Celery & Redis Settings
REDIS_URL=redis://localhost:6379/0

# Storage Settings
# Options: local, s3
STORAGE_TYPE=local
LOCAL_STORAGE_DIR=./data/storage
S3_BUCKET=my-textile-bucket
AWS_ACCESS_KEY_ID=mock_key_id
AWS_SECRET_ACCESS_KEY=mock_secret_key
AWS_ENDPOINT_URL=https://s3.amazonaws.com

# Model Settings
MODEL_PATHS_DIR=./data/models
# Set to true to allow downloading weights automatically or false to enforce fallback-only (CPU offline mode)
ALLOW_MODEL_DOWNLOADS=false

# Database Settings
DATABASE_URL=postgresql://admin:Jignesh_36846@164.68.120.32:5432/textile_automation?schema=public

# Cloudinary Settings
CLOUDINARY_CLOUD_NAME=z2hrk14y
CLOUDINARY_API_KEY=657872229987114
CLOUDINARY_API_SECRET=A8GGhaPrUqOZ8WGon3g2PqIr2M4
